@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Roboto:ital,wght@1,100&display=swap');

html,body {
  height: 100%;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
  background-color:lightgoldenrodyellow;
}
.button{
  width:66px;
  padding:15px;
  margin:0 30x;
  border:2px solid black;
  border-radius:9px;
  cursor:pointer;
}
.row{
  margin:8px 0;
}
.row input{
  width:235px;
  font-size:30px;
  margin:0;
  padding:10px 20px;
  border:2px solid black;
  border-radius:5px;
}